<html>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <title>URL Shortener Microservice</title>
    <body>
        <center><div class="header"><h1> API Basejump: URL Shortener Microservice</h1>
            <center><div class="UserS">
                <ol>User Stories<p>
                    <ol>1)  If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.<p>
                    2) When I visit that shortened URL, it will redirect me to my original link.<p>
                    </ol></ol>
                
                </div></center>
            <ol><h2>Example usage:</h2>
                <code>https://shorturl.herokuapp.com/new/http://google.com</code><br>
                <code>https://shorturl.herokuapp.com/new/http://foo.bar</code><br>
                <h2>Example output:</h2>
                <code>{ "URL": http://google.com, "shor_URL": "efgh" }</code>
                <p>Then, visit <code>https://shorturl.herokuapp.com/"your short_URL"</code>
            </ol></div></center></center>
        